{{define "crumbs"}}
<nav class="crumbs" aria-label="path">
  {{range $i, $c := .Crumbs}}
    {{if $i}}<span class="crumb-sep">/</span>{{end}}
    {{if $c.URL}}<a class="crumb" href="{{$c.URL}}">{{$c.Name}}</a>
    {{else}}<span class="crumb crumb-current">{{$c.Name}}</span>{{end}}
  {{end}}
</nav>
{{end}}
